tr th:nth-of-type(1) {
    text-align: left;
}
td, th {
    text-align: center;
}
.pos {
    color: green;
}
.neg {
    color: red;
}
.boxcars {
    background: repeating-linear-gradient(
        135deg,
        gold,
        gold 10px,
        yellow 10px,
        yellow 20px
    );
}
.dice-buttons {
    display: flex;
    justify-content: space-between;
}
.dice-buttons input {
    width: 30%;
}



body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
* Sidebar
*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
* Content
*/

[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px; /* Space for fixed navbar */
    }
}

/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/*
* Dice Faces
*/
#POS.die {
    background-color: tomato; 
}
#POS .dot {
    background-color: white;
}
#NEG.die {
    background-color: white;
}
#NEG .dot {
    background-color: black;
}
#FORTUNE.die {
    background-color: gold;
}
#FORTUNE .dot {
    background-color: black;
}

.dice{
    padding: 30px 0;
    margin: 0 20%;
    display: flex;
    justify-content: space-between;
}

.die-box {
    width: 33%;
}

.die {  
    padding: 4px;   
    width: 104px;  
    height: 104px;  
    border-radius: 10%;
    border: solid 2px #222;
    display: flex;
    margin: 0 auto;
}
.dot {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color:white;
}

.fudge-die svg {
    margin: 20%;
    height: 60%;
}
.fudge-die-roll {
    padding: 0 5px;
    text-decoration: line-through;
}
.fudge-die-roll:last-of-type {
    text-decoration: none;
    color: red;
}
.fudge-die-roll:first-of-type {
    color: black;
}

.first-face {justify-content: center;align-items: center;}

.second-face{justify-content : space-between;}
.second-face .dot:nth-of-type(2) {align-self: flex-end;}

.third-face{justify-content : space-between;}
.third-face .dot:nth-of-type(2) {align-self :center;}
.third-face .dot:nth-of-type(3) {align-self: flex-end;}

.fourth-face {justify-content: space-between;}
.die-column {display: flex;
    flex-direction: column;
    justify-content: space-between;}

.fifth-face {justify-content: space-between;}
.fifth-face .die-column:nth-of-type(2) {justify-content: center;}

@media (max-width: 767px) {
    nav.sidebar {
        position: relative;
        order: 2;
    }
    nav .sidebar-sticky {
        height: auto;
        padding-bottom: 20px;
    }
    main[role="main"] {
        padding-top: 0;
        order: 1;
    }
    .dice-buttons {
        flex-direction: column;
    }
    .dice{
        margin: 0;
    }
    .dice-buttons input {
        width: 100%;
        margin: 5px 0;
    }
    .die {
        width: 70px;
        height: 70px;
    }
    .dot {
        width: 15px;
        height: 15px;
    }
}